.env

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.DS_Store

z/

*.log
*.tmpoutputs/predictions_all_specs.csv
outputs/predictions_all_specs.csv

*.png
outputs/old/predictions_all_specs.csv
outputs/predictions_all_specs.csv
outputs/old/predictions_all_specs_*.csv
